* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.calculator {
    background-color: #3b3b3b;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.display input {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #282828;
    color: #fff;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #5e5e5e;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #7e7e7e;
}

button:nth-child(4n) {
    background-color: #9a50ff;
}

button:nth-child(4n):hover {
    background-color: #b060ff;
}

button:last-child {
    background-color: #ff5757;
}

button:last-child:hover {
    background-color: #ff7171;
}
