body {
    font-family: Arial, sans-serif;
    background-color: #e3e1e4;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(246,158,196);
    background: radial-gradient(circle, rgba(246,158,196,1) 0%, rgba(227,230,235,1) 100%);
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 80px;
}

button:hover {
    background-color: #FF3D3D;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}

li span {
    flex: 1;
}

li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 1%;
}

li button:hover {
    background-color: #c82333;
}
